.navbar{
    width: 4%;            /* el ancho que quieras */
    height: 100%;            /* IMPORTANTE */
    // border: 3px solid green;
    box-sizing: border-box;
    background-color: #BF1A1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 50px;

    a {
        color: inherit;
        text-decoration: none;
    }

    svg {
        color: white;
        font-size: 32px; /* o lo que quieras */
        cursor: pointer;
    }
}

.perfil{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover; 
}