.botonGoogle {
    --color: #000; /* color azul Google */
    --background: #fff;
    margin-left: 100px;
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 999px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    padding: 0.8em 1.6em;
    background: var(--background);
    color: var(--color);
    border: 4px solid var(--color);
    overflow: hidden;
    transition: transform 0.2s cubic-bezier(.3,.7,.4,1);
    box-shadow: 1px 1px 0px 0px var(--color),
                2px 2px 0px 0px var(--color),
                3px 3px 0px 0px var(--color);
}

/* Efecto hover */
.botonGoogle:hover {
    transform: translate(-2px, -2px);
}

/* Efecto click */
.botonGoogle:active {
    transform: translate(2px, 2px);
}

/* Texto interno */
.botonGoogle .text {
    margin: 0;
    font-weight: bold;
}

.text{
    margin: 0;
    padding: 0;
}