.botonvender{
    border: none;
    background-color: transparent;
    

    a {
        color: black ;
        text-decoration: none ;
    }
}

.triggerButton {
    --color: #000;
    --background: #fff;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    font-size: 1rem;
    border-radius: 999px;
    outline: none;
    cursor: pointer;
    text-decoration: none;

    span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        background: var(--background);
        color: var(--color);
        border: 4px solid var(--color);
        padding: 0.8em 1.6em;
        position: relative;
        overflow: hidden;
        border-radius: inherit;
        transition: transform 0.2s cubic-bezier(.3,.7,.4,1);
        box-shadow: 1px 1px 0px 0px var(--color),
                    2px 2px 0px 0px var(--color),
                    3px 3px 0px 0px var(--color);
    }

    &:hover span {
        transform: translate(-2px, -2px);
    }

    &:active span {
        transform: translate(2px, 2px);
    }
}


/* cerrarSesionBtn.module.css o .css */
.cerrarSesionBtn {
    --color: #000;
    --background: #fff;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 999px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    padding: 0.8em 1.6em;
    background: var(--background);
    color: var(--color);
    border: 4px solid var(--color);
    overflow: hidden;
    transition: transform 0.2s cubic-bezier(.3,.7,.4,1);
    box-shadow: 1px 1px 0px 0px var(--color),
                2px 2px 0px 0px var(--color),
                3px 3px 0px 0px var(--color);
}

/* Efecto hover */
.cerrarSesionBtn:hover {
    transform: translate(-2px, -2px);
}

/* Efecto click */
.cerrarSesionBtn:active {
    transform: translate(2px, 2px);
}

